@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-font: 'Amatic SC', cursive;
    --second-font: 'Rubik', sans-serif;
}

.is-size-big{
    font-size: 2.8rem;
}

.is-size-medium {
    font-size: 1.4rem;
}

.is-size-small {
    font-size: 1.1rem;
}

.centr{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h3{
    color: blue;
    font-family: var(--header-font);
}

.wrapper{
    display: grid;
    grid-template-columns: 7% 43% 7% 43%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 50px;
    width: 90%;
    margin: 0 auto;
}

.icon{
    padding: 10px;
}

.icon__std-img{
    width: 70px;
}

.info-block{
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    padding: 10px;
}

.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    /*position: absolute;*/
    /*bottom: 0;*/
    margin-top: 100px;
    width: 100%;
    height: 400px;
    padding: 30px;
}

form{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: center;
}

form label{
    font-size: 22px;
    margin-bottom: 15px;
}

form input{
    font-size: 22px;
    padding: 3px;
    margin-bottom: 15px;
    border-radius: 3px;
    outline: none; /*не подсвечивает синим, когда заполняем*/
}

form button{
    width: 100px;
    height: 40px;
    align-self: flex-end;
    font-size: 18px;
    border-radius: 5px;
}

form button:hover{
    cursor: pointer;
    color: red;
    transition: color 1s;
}

.wrapper:after{
     content: "";
    background-image: url("img/041-pencil.png");
    background-size: cover;
    background-position: center center;
    width: 35px;
    height: 35px;
    grid-column-start: 3;
}


@media screen and (max-width: 400px){
    .wrapper{
        grid-template-columns: 14% 86%;
    }
    .icon__std-img{
        width: 50px;
    }
}